@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Josefin+Sans:wght@100&family=Nova+Round&family=Quicksand&display=swap');

$font-1: 'Quicksand', sans-serif;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', sans-serif;
$font-4: 'Nova Round', cursive;

$color-1: rgba(221, 221, 221, 0.233);
$color-2: rgba(221, 221, 221, 0.26);
$color-3: rgb(169, 180, 194);
$color-4: rgb(205, 247, 246);
$color-5: #ddd;
$color-6: rgb(162, 192, 221);
$color-7: rgba(32, 51, 70, 0.918);
$background-color: rgb(32, 51, 70);
$white: #ddd;
$black: #333;



$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $background-color;
    margin: 1rem auto;
    max-width: 1200px;
    font-family: $font-1;
    color: $color-3;
}
button{
    cursor: pointer;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}
a:visited {
    color: $black;
}
.home, .knowledges, .portfolio, .contact {
    display: flex;

    @media screen and (max-width : 850px){
        display: block !important;
    }
}
.homeContent, .knowledgesContent, .portfolioContent, .contactContent {
    margin-left: .4rem;

    @media screen and (max-width: 850px){
        margin-left: 0 !important;
    }
}